html,
body {
  margin: 0;
  padding: 0;
}
.header {
  background-color: #007765;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu {
  list-style: none;
  text-align: right;
  margin: auto;
}
.menu li {
  display: inline;
}
.menu li:after {
  content: "|";
}
.menu li:last-child:after {
  content: none;
}
.menu a {
  text-decoration: none;
  font-size: 17px;
  margin: 0 20px 0 20px;
  color: white;
  font-family: "Roboto", "Helvetica Nue", sans-serif;
}
.header .logo {
  padding-left: 10%;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
.container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}
.hero_here {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url("source/image.png");
  background-size: cover;
  background-position: center center;
}
.here_message {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #fff;
}
.hero_problem {
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #eeeeee;
  background-size: cover;
  background-position: center center;
}
p {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
}
h1 {
  font-family: Roboto, sans-serif;
  color: #007765;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
}
.together {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url("source/image-1.png");
  background-size: cover;
  background-position: center center;
}
.together_message {
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}
.ppclogo {
  float: left;
}
.name {
  font-family: Roboto, sans-serif;
  margin: 0;
  margin-top: 12px;
  font-weight: 600;
  font-size: 24px;
  color: #007765;
}
.position {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 18px;
}
.members {
  display: flex;
  flex-wrap: wrap;
}
.member {
  flex-basis: 33%;
  text-align: center;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 24px;
}
.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: black;
  background-size: cover;
  background-position: center center;
}
.footer-text {
  font-size: 18px;
}
